/* Styles for the body element */
body {
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Styles for the header element */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 5, 63);
  }
  
  /* Styles for the h1 element */
  h1 {
    font-size: 300%;
    padding-left: 7%;
    padding-right: 1%;
    color: darkblue;
    background-color: lightblue;
    margin: 10px 0 11px;
  }
  
  /* Styles for the nav ul element */
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-top: 30px;
    min-width: 500px;
    font-size: 150%;
    text-decoration: underline;
  }
  
  /* Styles for the nav anchor elements */
  nav a {
    color: lightblue;
    font-weight: bold;
  }
  
  /* Styles for the nav anchor elements when hovering */
  nav a:hover {
    color: #fff;
  }
  
  /* Styles for the img elements */
  img {
    width: 100%;
    height: auto;
  }
  
  /* Styles for the h2 element */
  h2 {
    position: absolute;
    margin-left: 59%;
    margin-top: 29%;
    padding: 1%;
    font-size: 220%;
    background-color: lightblue;
    color: darkblue;
  }
  
  /* Styles for the aside h3 element */
  aside h3 {
    color: navy;
    font-size: 300%;
    margin-left: 5%;
    padding-right: 2%;
    width: min-content;
    border-right: 6px solid navy;
    margin-top: 30px;
    height: 425px;
    text-align: end;
  }
  
  /* Styles for the aside p element */
  aside p {
    color: navy;
    margin-left: 17%;
    margin-top: -22%;
    margin-right: 2%;
  }
  
  /* Styles for the aside h4 element */
  aside h4 {
    color: navy;
    font-size: 300%;
    margin-left: 7%;
    padding-right: 1%;
    width: min-content;
    border-right: 6px solid navy;
    margin-top: 30px;
    height: 1450px;
  }
  
  /* Styles for the image1 class */
  .image1 {
    width: 81%;
    height: auto;
    float: right;
    margin-right: 2%;
    margin-top: -75%;
    box-shadow: 0 0 0 6px lightblue;
  }
  
  /* Styles for the div.contact, div.robot, div.CityatNight, div.FutureCity, div.GreenCity elements */
  div.contact,
  div.robot,
  div.CityatNight,
  div.FutureCity,
  div.GreenCity {
    position: absolute;
    padding: 1%;
    font-size: 220%;
    background-color: lightblue;
    color: darkblue;
  }
  
  /* Styles for the div.contact and div.robot elements */
  div.contact,
  div.robot {
    margin-left: 17%;
  }
  
  /* Styles for the div.a, div.b, div.c, div.d, div.e, div.f, div.g, div.h elements */
  div.a,
  div.b,
  div.c,
  div.d,
  div.e,
  div.f,
  div.g,
  div.h {
    font-size: 29px;
  }
  
  /* Styles for the div.b, div.d, div.f, div.h elements */
  div.b,
  div.d,
  div.f,
  div.h {
    font-size: 16px;
  }
  
  /* Styles for the image2, image3, image4, image5 elements */
  .image2,
  .image3,
  .image4,
  .image5 {
    width: 38%;
    height: auto;
    float: left;
    margin-top: -50%;
    box-shadow: 0 0 0 6px lightblue;
  }
  
  /* Styles for the image3 and image5 elements */
  .image3,
  .image5 {
    margin-left: 57%;
  }
  
  /* Styles for the aside-heading class */
  .aside-heading {
    color: navy;
    font-size: 300%;
    margin-left: 5%;
    padding-right: 1%;
    width: min-content;
    border-right: 6px solid navy;
    margin-top: 30px;
    height: 200px;
    text-align: end;
  }
  
  /* Styles for the nav2 element */
  .nav2 {
    display: flex;
    justify-content: space-around;
    margin-left: 267px;
    margin-top: -131px;
    min-width: 500px;
    font-size: 200%;
    color: lightblue;
    text-decoration: underline;
  }
  
  /* Styles for the nav2 anchor elements */
  .nav2 a {
    color: darkblue;
    font-weight: bold;
  }
  
  /* Styles for the nav2 anchor elements when hovering */
  .nav2 a:hover {
    color: black;
  }