/* Styles for the body element */
body {
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Styles for the header element */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: .5%;
  }
  
  /* Styles for the h1 element */
  h1 {
    font-size: 300%;
    padding-left: 7%;
    padding-right: 1%;
    color: darkblue;
    background-color: lightblue;
    margin: 10px 0 11px;
  }

  /* Styles for Raj image */
  .Raj {
    width: 10%;
    height: auto;
    margin-top: 38px;
    margin-bottom: 33px;
    margin-right: 21%;
    box-shadow: 0 0 0 6px lightblue;
  }
  
  /* Styles for the nav ul element */
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-top: 37px;
    min-width: 758px;
    font-size: 184%;
    text-decoration: underline;
  }
  
  /* Styles for the nav anchor elements */
  nav a {
    color: darkblue;
    font-weight: bold;
  }
  
  /* Styles for the nav anchor elements when hovering */
  nav a:hover {
    color: black;
  }
  
  /* Styles for the h2 element */
  h2 {
    position: absolute;
    margin-left: 76%;
    margin-top: 4%;
    padding: .25%;
    font-size: 138%;
    background-color: lightblue;
    color: darkblue;
  }

  .banner {
    width: 99.5%;
    height: auto;
    margin-left: .25%;
  }
  
  /* Styles for the aside h3 element */
  aside h3 {
    color: navy;
    font-size: 250%;
    margin-left: 5%;
    padding-right: 3%;
    width: min-content;
    border-right: 4px solid navy;
    margin-top: 30px;
    height: 285px;
    text-align: end;
  }
  
  /* Styles for the aside p element */
  aside p {
    color: navy;
    margin-left: 17%;
    margin-top: -14%;
    margin-right: 2%;
  }
  
  /* Styles for the aside h4 element */
  aside h4 {
    color: navy;
    font-size: 250%;
    margin-left: 5.75%;
    padding-right: 3%;
    width: min-content;
    border-right: 4px solid navy;
    margin-top: 47px;
    height: 1050px;
    text-align: end;
    position: relative;

  }
  
  /* Styles for the work images */
  aside .password {
    width: 81%;
    margin-left: 17%;
    margin-top: -58%;
    position: absolute;
  }

  aside {
    overflow: visible;
  }

  div.passwordGenerator {
    position: absolute;
    margin-left: 17%;
    margin-top: -56.5%;
    padding: 1%;
    font-size: 220%;
    background-color: lightblue;
    color: darkblue;
  }
  
  div.a{
    font-size: 29px;
  }
  
  div.b{
    font-size: 16px;
  }
  
  
  aside .image2 {
    width: 40%;
    margin-left: 17%;
    margin-top: -29%;
    position: absolute;
  }
  
  div.Swirls {
    position: absolute;
    margin-left: 17%;
    margin-top: -27.5%;
    padding: 1%;
    font-size: 220%;
    background-color: lightblue;
    color: darkblue;
  }
  
  div.c{
    font-size: 29px;
  }
  
  div.d{
    font-size: 16px;
  }  

  aside .image3 {
    width: 40%;
    margin-left: 58%;
    margin-top: -29%;
    position: absolute;
  }

  div.DigitalScreen {
    position: absolute;
    margin-left: 58%;
    margin-top: -27.5%;
    padding: 1%;
    font-size: 220%;
    background-color: lightblue;
    color: darkblue;
  }
  
  div.e{
    font-size: 29px;
  }
  
  div.f{
    font-size: 16px;
  }
  
  aside h5 {
    color: navy;
    font-size: 250%;
    margin-left: 3.25%;
    padding-right: 3%;
    width: min-content;
    border-right: 4px solid navy;
    margin-top: 30px;
    height: 200px;
    text-align: end;
  }
  
  .nav2 {
    display: flex;
    justify-content: space-around;
    margin-left: 267px;
    margin-top: -131px;
    min-width: 500px;
    font-size: 200%;
    color:lightblue;
    text-underline-position: under;
  }
  
  .nav2 a {
    color: darkblue;
    font-weight: bold;
  }
  
  .nav2 a:hover {
    color: black;
  }
  
  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }